################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

*.suo
*.user
*.jfm
*.dbmdl
*.sqlite
.vs/
bin/
obj/
Debug/
Release/